* {
    padding: 0;
    margin: 0;
}

.tag {
}

.tag {
    opacity: 0;
    transform: translate(0, 10vh);
    transition: all 1s;
}

.tag.visible {
    opacity: 1;
    transform: translate(0, 0);
}

html,body {
    font-size: 10px;
    font-family: 'Muli',sans-serif;
    font-style: normal;
    color: #2F1C6A;
    display: flow-root;
}

#top-frame{
    background-color: #E3E6E5;
    height: 700px;
    width: 100%;
    font-family: 'Muli';
    margin: 0px;
    display: flex;
}

#content{
    width: 70%px;
    padding: 250px;
    padding-left: 300px;
}

#pro{
    width: auto;
    border-color:rgb(0, 79, 164);
    border-width: 0px;
    border-style: dashed;
}
#profile-pic{
    position: absolute;
    margin-top: 0px;
    width: 500px;
    bottom: 250px;
    right: 250px;
    position: absolute;
    opacity: .9;
}

#salutation{
    color:rgb(0, 123, 255);
    font-size: 16px;
    font-weight:800;
}

#name{
    color:#132043;
    font-size: 42px;
    font-weight:900;
    font-family: 'Mulish', sans-serif;
    line-height: 200%;
}

#title{
    color:rgb(0, 79, 164);
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    line-height: 150%;
}

#sub-title{
    color:rgb(88, 88, 88);
    font-family: 'Mulish', sans-serif;
    font-size: 14px;
    font-weight: 100 !important;
}
#bn{
    margin-top: 30px;
}
button{
    height: 50px;
    font-size: 20px;
}
.btn-download{
    background-color: rgb(27, 116, 210) !important;
    color: white;
    border-radius: 25px !important;
    font-size: 14px !important;
    padding: 10px !important;
}
.btn-contact-me{
    background-color: white !important;
    margin-left: 20px;
    border-radius: 25px !important;
    font-size: 14px !important;
    padding: 10px !important;
}

#capsule{
    width: 80%;
    height: 150px;
    background-color: white;
    border-width: 1px;
    border-radius: 100px;
    font-family: 'Muli',sans-serif;
    font-style: normal;
    margin-top: -80px;
    margin-left: 10%;
    position: relative;
    font-size: 14px;
    vertical-align: middle;
    text-align: center;
}

#capsule-content{
    color:rgb(0, 123, 255);
    margin: 30px;
}

#capsule-heading{
    font-family: 'Mulish', sans-serif;
    color:rgb(0, 123, 255);
    font-weight: 800;
    font-size: 14px;
}

#capsule-value, #capsule-value-time-completed{
    font-family: 'Mulish', sans-serif;
    color:black;
    font-weight: 550;
    font-size: 20px;
}

.capsule-mid-content{
    border-left: 1px dashed rgb(0, 123, 255);
    border-right: 1px dashed rgb(0, 123, 255);
    border-radius: 10px;
    text-align: center;
}




#frame-two{
    background-color: #ffffff;
    height: 600px;
    width: 100%;
    font-family: 'Muli';
    margin: 0px;
    display: flex;
}

.f2-h2{
    padding-top: 150px;
    color:#132043;
    font-size: 42px;
    font-weight:900;
    font-family: 'Mulish', sans-serif;
}

.f2-r1{
    margin-top: 5   0px !important;
    color:#132043;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    line-height: 150%;
    padding-left: 10px;
    width: 70%;
}

div[class*="field"]{
    color:rgb(0, 79, 164);
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    line-height: 150%;
}

div[class*="value"]{
    color:rgb(44, 44, 44);
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    line-height: 150%;
    padding-left: 30px;
}

.material-symbols-outlined{
    font-size:15px !important;
    
}





.f3-h2{
    padding-top: 100px;
    color:#132043;
    font-size: 42px;
    font-weight:900;
    font-family: 'Mulish', sans-serif;
}

.f3-r1{
    margin-top: 5   0px !important;
    color:#e0e0e0;
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    line-height: 150%;
    padding-left: 10px;
    width: 70%;
}

div[class*="field"]{
    color:rgb(0, 79, 164);
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
    line-height: 150%;
}

div[class*="value"]{
    color:rgb(44, 44, 44);
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    font-weight: 400;
    line-height: 150%;
    padding-left: 30px;
}

.material-symbols-outlined{
    font-size:15px !important;
    
}

div[class^="skill-"]{
    color:rgb(0, 79, 164);
    font-size: 20px;
    font-family: 'Mulish', sans-serif;
    line-height: 150%;
}

.skills-col1{
    width: 50%;
    font-weight: 400;
}


.skill-name{
    color:rgb(0, 30, 61);
    font-size: 16px;
    font-family: 'Mulish', sans-serif;
    font-weight: 600;
}
.skill-value{
    text-align: right;
    font-size: 16px !important;
    font-family: 'Mulish', sans-serif;
}

.skill-row{
    margin-top: 30px !important;
}


div[id^="skill-"]{
    font-size: 20px;
    background-color: #00cdd8;
    padding-left: 10px;
    text-align: left !important;
}

#skill-java{
    width: 90%;
}
#skill-sql{
    width: 60%;
}
#skill-stream{
    width: 70%;
}

#skill-frontend{
    width: 40%;
}

#skill-aws{
    width: 70%;
}

#skill-gcp-azure{
    width: 60%;
}

#skill-ws{
    width: 70%;
}
#skill-docker-k8{
    width: 40%;
}
#skill-terraform{
    width: 60%;
}


.progress{
    text-align: right !important;
}

#subhead{
    color:rgb(0, 91, 188);
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 100 !important;
    margin-bottom: 50px;
}

.perc{
    font-size: 20px;
    text-align: right !important;
    float: right;
}


#frame-three{
    background-color: #fff;
    height: 200px;
    width: 100%;
    font-family: 'Muli';
    margin: 0px;
    display: flex;
}

#frame-three-one{
    background-color: #fff;
    height: 140px;
    width: 100%;
    font-family: 'Muli';
    margin: 0px;
    display: flex;
    background-color: rgb(250, 250, 250) !important;
    border-radius: 50px;
}

.table{
    margin-top: 30px;
    text-align: center !important;
    font-family: 'Mulish', sans-serif;
    font-size: 18px;
    font-weight: 600 !important;
    color: #0089c9 !important;
}
td {
    color:rgb(0, 79, 164) !important;
    background-color: rgb(250, 250, 250) !important;
}

#frame-four{
    background-color: #f2fbfe;
    height: 700px;
    width: 100%;
    font-family: 'Muli';
    margin-top: 50px;
    display: flex;
}